{% set pageName = 'Пользовательское соглашение' %}
{% set title = 'Пользовательское соглашение | BGFF' %}
{% set description = '' %}
{% set keywords = '' %}
{% set activePage = 'agreement' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <h1 class="page-main__heading">Пользовательское соглашение</h1>

    <div class="page-main__section document">
        <div class="document__text">
            <p>
                ООО «Юнайтед дизайн»<br/>
                г. Санкт-Петербург
            </p>
            <p>Настоящее Пользовательское соглашение (далее&nbsp;— «Соглашение») устанавливает условия и&nbsp;правила использования пользователями Сети сайта <a href="http://uniteddesign.ru/">uniteddesign.ru</a> (далее&nbsp;— «Сайт») и&nbsp;представляет собой Соглашение между Обществом с&nbsp;ограниченной ответственностью «Юнайтед дизайн» (далее&nbsp;— «Администрация») и&nbsp;любым лицом, являющимся пользователем Сайта (далее&nbsp;— «Пользователь»).</p>
        </div>

        <p class="document__download download">
            <a href="#" class="download__link">Пользовательское соглашение</a>
            <span class="download__details">PDF, 139Kb</span>
        </p>
    </div>
{% endblock %}
