{% set title = 'Board Games For Fun: Миниатюры для настольных игр' %}
{% set description = 'Board Games For Fun: Миниатюры для настольных игр' %}
{% set keywords = 'Board Games For Fun: Миниатюры для настольных игр' %}
{% set activePage = '/' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <h1>BGFF</h1>
{% endblock %}
