{% set pageName = 'Board Game For Fun: Миниатюры для настольных игр' %}
{% set title = 'Board Game For Fun: Миниатюры для настольных игр' %}
{% set description = 'Board Game For Fun: Миниатюры для настольных игр' %}
{% set keywords = 'Board Game For Fun: Миниатюры для настольных игр' %}
{% set activePage = '/' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <h1 class="visually-hidden">Board Game For Fun: Миниатюры для настольных игр</h1>

    <section class="page-main__section promo">
        <h2 class="visually-hidden">Разделы каталога</h2>
        <p class="promo__heading">Создаём неповторимые впечатления от вашей любимой настольной игры</p>

        <ul class="promo__list categories">
            {% include '../layouts/blocks/catalog-categories.njk' %}
        </ul>
    </section>

    <section class="page-main__section advantages">
        <h2 class="visually-hidden">Наши преимущества</h2>
        
        <ol class="advantages__list">
            <li class="advantages__item">Миниатюры выполнены на фотополимерном принтере высокого разрешения</li>
            <li class="advantages__item">Срок исполнения — от 3 до 7 дней, в зависимости от объема и текущей загрузки</li>
            <li class="advantages__item">При заказе от двух наборов миниатюр — бесплатная доставка по Санкт-Петербургу</li>
        </ol>
    </section>

    <section class="page-main__section popular">
        <h2 class="visually-hidden">Популярные товары</h2>

        <ul class="popular__list cards">
            {% set cardsCounter = 4 %}
            {% include '../layouts/blocks/catalog-cards.njk' %}
        </ul>

        <a href="/catalog/" class="popular__all-link button">Весь каталог</a>
    </section>

    <section class="page-main__section gallery">
        <h2 class="visually-hidden">Наши работы</h2>

        <ul class="gallery__list">
            {% include '../layouts/blocks/gallery-items.njk' %}
        </ul>
    </section>
{% endblock %}
