.breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    margin: 0 8px 8px 0;

    &::after {
        content: '';

        width: 18px;
        height: 18px;
        margin-top: 2px;
        margin-left: 8px;

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../img/ico/chevron_right-24px.svg');
    }

    &:last-child {
        margin-right: 0;

        &::after {
            display: none;
        }
    }
}

.breadcrumbs__link {
    display: block;
}

.breadcrumbs__ico {
    display: block;

    color: $color-black;

    transition: color 250ms;

    .breadcrumbs__link:hover & {
        color: $color-primary;
    }
}
