.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    padding: 0;

    list-style: none;
}

.categories__item {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;

    background-color: $color-secondary;
    border-radius: 20px;

    transition: background-color 250ms;

    &::before {
        content: '';

        width: 144px;
        height: 144px;
        margin-bottom: 12px;

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        bottom: -10px;
        left: 10px;
        z-index: -1;

        background-color: inherit;
        border-radius: 20px;
        opacity: .5;

        transition:
            top 250ms,
            right 250ms,
            bottom 250ms,
            left 250ms,
            background-color 250ms,
            border-radius 250ms,
            opacity 250ms;
        will-change: top, right, bottom, left;
    }

    &:hover {
        background-color: $color-primary;
    }

    &:focus-within {
        &::after {
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;

            opacity: 1;
            background-color: $color-primary;
            border-radius: 24px;

            transition:
                top 250ms,
                right 250ms,
                bottom 250ms,
                left 250ms,
                background-color 100ms ease-in 120ms,
                border-radius 100ms ease-in 120ms,
                opacity 100ms ease-in 120ms;
            will-change: top, right, bottom, left;
        }
    }

    &:active {
        background-color: darken($color-primary, 5%);

        &::after {
            top: 0;
            right: 3px;
            left: 3px;
            bottom: -5px;

            opacity: .5;
            background-color: inherit;
        }
    }
}

.categories__item_coins::before {
    background-image: url('../img/categories/ico-coins.svg');
}

.categories__item_complects::before {
    background-image: url('../img/categories/ico-complects.svg');
}

.categories__item_organizers::before {
    background-image: url('../img/categories/ico-organizers.svg');
}

.categories__item_print::before {
    background-image: url('../img/categories/ico-print.svg');
}

.categories__item_resources::before {
    background-image: url('../img/categories/ico-resources.svg');
}

.categories__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;

    color: $color-white;

    text-align: center;
    font-weight: 600;
    letter-spacing: .06em;
    text-transform: uppercase;

    &::after {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:hover {
        color: $color-white;
    }

    &:focus {
        outline: none;
    }
}
