.menu {
    padding: 0;
    list-style: none;

    font-size: 18px;

    @include breakpoint(medium) {
        display: flex;
        justify-content: flex-end;
    }
}

.menu__link {
    display: inline-block;
    padding: 8px 10px;

    color: $color-secondary;
    border-radius: 3px;

    font-weight: 600;

    transition: background-color 250ms;

    &:hover {
        background-color: $color-white;
    }
}
