.page-footer {
    background-color: $color-blue;

    font-size: 18px;
}

.page-footer__wrapper {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 24px 32px 32px;

    @include breakpoint(medium) {
        display: grid;
        grid-template-columns: minmax(max-content, 2fr) 6fr;
        column-gap: 32px;
        row-gap: 16px;
        padding-top: 48px;
    }
}

.page-footer__logo {
    width: 240px;
    margin-bottom: 16px;
    margin-right: -8px;
    margin-left: -8px;

    @include breakpoint(medium) {
        margin: -8px;
    }
}

.page-footer__menu {
    margin: 0 0 16px -8px;
    padding: 0;

    @include breakpoint(medium) {
        margin: auto -8px 0 0;
    }
}

.page-footer__social {
    margin-bottom: 32px;

    @include breakpoint(medium) {
        order: 1;
        grid-row: span 2;
        margin-top: 0;
        margin-bottom: auto;
        margin-left: auto;
    }
}

.page-footer__copy {
    margin-bottom: 8px;
    color: rgba($color-black, .6);

    @include breakpoint(medium) {
        margin-top: 16px;
        margin-bottom: -8px;
    }
}

.page-footer__dev {
    margin-bottom: 0;

    @include breakpoint(medium) {
        order: 1;
    }
}
