.page-footer {
    background-color: $color-blue;

    font-size: 18px;
}

.page-footer__wrapper {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 24px 32px 32px;
}

.page-footer__logo {
    margin-bottom: 16px;
    margin-right: -8px;
    margin-left: -8px;
}

.page-footer__menu {
    margin: 0 0 16px -8px;
    padding: 0;
}

.page-footer__social {
    margin-bottom: 32px;
}

.page-footer__copy {
    margin-bottom: 8px;
    color: rgba($color-black, .6);
}

.page-footer__dev {
    margin-bottom: 0;
}
