.page-main__heading {
    max-width: $page-max-width;
    margin: 0 auto 16px;
    padding: 0 16px;
}

.page-main__breadcrumbs {
    max-width: $page-max-width;
    margin: 0 auto 16px;
    padding-top: 8px;
}

.page-main__content {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 0 16px;
}
