.page-header {
    background-color: $color-blue;

    text-align: center;
}

.page-header__nav {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 24px 32px 32px;

    @include breakpoint(medium) {
        display: grid;
        grid-template-columns: minmax(max-content, 2fr) 6fr;
        column-gap: 32px;
        row-gap: 16px;
    }

    @include breakpoint(large) {
        grid-template-columns: minmax(max-content, 2fr) 5fr minmax(min-content, 1fr);
        padding-top: 32px;
    }
}

.page-header__logo {
    display: block;
    width: 240px;
    margin: 0 auto 16px;

    @include breakpoint(medium) {
        grid-row: span 2;
        margin: auto -8px;
    }

    @include breakpoint(large) {
        grid-row: auto;
    }
}

.page-header__menu {
    margin: 0 0 24px;

    @include breakpoint(medium) {
        margin: auto 0;
        margin-right: -8px;
    }
}

.page-header__order {
    @include breakpoint(medium) {
        margin: auto 0 auto auto;
    }
}
