.page-header {
    padding: 24px 32px 32px;
    background-color: $color-blue;

    text-align: center;
}

.page-header__nav {
    max-width: $page-max-width;
    margin: 0 auto;
}

.page-header__logo {
    display: block;
    width: 240px;
    margin: 0 auto 16px;
}

.page-header__menu {
    margin: 0 0 24px;
}
