<ul class="page-main__breadcrumbs breadcrumbs">
    <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link breadcrumbs__link_home">
            <svg width="24" height="24" viewBox="0 0 24 24" class="breadcrumbs__ico">
                <path d="M10 20V14H14V20H19V12H22L12 3L2 12H5V20H10Z" fill="currentColor" />
            </svg>

            <span class="visually-hidden">Главная</span>
        </a>
    </li>

    {% for item in breadcrumbs %}
        <li class="breadcrumbs__item">
            <a href="{{ item.link }}" class="breadcrumbs__link">{{ item.name }}</a>
        </li>
    {% endfor %}

    <li class="breadcrumbs__item">
        {{ pageName }}
    </li>
</ul>
