<ul class="page-main__breadcrumbs breadcrumbs">
    <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link breadcrumbs__link_home">
            <span class="visually-hidden">Главная</span>
        </a>
    </li>

    {% for item in breadcrumbs %}
        <li class="breadcrumbs__item">
            <a href="{{ item.link }}" class="breadcrumbs__link">{{ item.name }}</a>
        </li>
    {% endfor %}

    <li class="breadcrumbs__item">
        {{ pageName }}
    </li>
</ul>
