{% set catalogCategories = [
    {
        name: 'Комплекты для настольных игр',
        link: 'complects'
    },{
        name: 'Монеты',
        link: 'coins'
    },{
        name: 'Ресурсы',
        link: 'resources'
    },{
        name: 'Органайзеры и планшеты',
        link: 'organizers'
    },{
        name: 'Печать на заказ',
        link: 'print'
    }
] %}

{% for item in catalogCategories %}
    <li class="categories__item categories__item_{{ item.link }}">
        <a href="/catalog/{{ item.link }}/" class="categories__link">{{ item.name }}</a>
    </li>
{% endfor %}
