<footer class="page__footer page-footer">
    <div class="page-footer__wrapper">
        <a href="/" class="page-footer__logo logo">
            <img src="/img/logo.svg" alt="Board Game For Fun" class="logo__img">
        </a>

        <ul class="page-footer__menu menu">
            {% include "./footer-menu-items.njk" %}
        </ul>

        <ul class="page-footer__social social">
            {% include "./social-items.njk" %}
        </ul>

        <p class="page-footer__copy">© 2020 Board Game For Fun</p>
        <p class="page-footer__dev dev">Dev by <a href="https://frontend-design.ru/" class="dev__link" target="_blank">Artur Trifonov</a></p>
    </div>
</footer>
