<header class="page__header page-header">
    <nav class="page-header__nav">
        <a href="/" class="page-header__logo logo">
            <img src="/img/logo.svg" alt="Board Games For Fun" class="logo__img">
        </a>

        <ul class="page-header__menu menu">
            {% include './menu-items.njk' %}
        </ul>

        <a href="/feedback/" class="page-header__order button">Заказать</a>
    </nav>
</header>
