{% set social = [
    {
        name: 'В контакте',
        link: 'https://vk.com/boardgameforfun',
        ico: 'vk'
    },{
        name: 'Instagram',
        link: 'https://www.instagram.com/boardgameforfun/',
        ico: 'instagram'
    }
] %}

{% for item in social %}
    <li class="social__item">
        <a href="/{{ item.link }}/" class="social__link social__link_{{ item.ico }}" target="_blank">
            <span class="visually-hidden">{{ item.name }}</span>
        </a>
    </li>
{% endfor %}
