{% set name = 'Контакты' %}
{% set title = 'Контакты | Board Games For Fun: Миниатюры для настольных игр' %}
{% set description = '' %}
{% set keywords = '' %}
{% set activePage = 'contacts' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <h1 class="page-main__heading">{{ name }}</h1>
{% endblock %}
