{% set pageName = 'Оплата и доставка' %}
{% set title = 'Оплата и доставка | BGFF' %}
{% set description = '' %}
{% set keywords = '' %}
{% set activePage = 'payment-delivery' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <h1 class="page-main__heading">{{ pageName }}</h1>

    <div class="page-main__section">
        <p>Мы&nbsp;создаём неповторимое впечатление от&nbsp;Вашей любимой настольной игры, дополняя&nbsp;то, что не&nbsp;стали делать издатели. Производим любые элементы&nbsp;— от&nbsp;простых фишек до&nbsp;сложных миниатюр, при помощи которых&nbsp;Вы сможете сделать игру более атмосферной.</p>
        <p>На&nbsp;сегодняшний день мы&nbsp;производим миниатюры для игр Root («Корни»), Scythe («Серп»), Cluedo («Улика»), Особняки безумия, различные террейны, которые&nbsp;Вы уже можете приобрести. Также выполняем индивидуальные заказы на&nbsp;3d&nbsp;печать.</p>
        <p>Все миниатюры отличного качества и&nbsp;выполнены на&nbsp;фотополимерном принтере высокого разрешения. Срок исполнения&nbsp;— от&nbsp;3&nbsp;до&nbsp;7&nbsp;дней в&nbsp;зависимости от&nbsp;объема. При заказе от&nbsp;двух наборов миниатюр&nbsp;— бесплатная доставка по&nbsp;Санкт-Петербургу. Отправка по&nbsp;РФ </p>
    </div>
{% endblock %}
