{% set pageName = 'Обратная связь' %}
{% set title = 'Обратная связь | BGFF' %}
{% set description = '' %}
{% set keywords = '' %}
{% set activePage = 'contacts' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <div class="form-section">
        <form action="/contacts/response/" class="form-section__form form">
            <h1 class="form-section__heading form__heading">{{ pageName }}</h1>

            <label class="form__field field">
                <p class="field__text">Имя <span class="field__comment">Обязательное поле</span></p>
                <input name="name" type="text" class="field__input" placeholder="Бруно Катала" required>
            </label>

            <label class="form__field field">
                <p class="field__text">Телефон</p>
                <input name="phone" type="tel" class="field__input" placeholder="8 987 123-45-67">
            </label>

            <label class="form__field field">
                <p class="field__text">Электронная почта <span class="field__comment">Обязательное поле</span></p>
                <input name="email" type="email" class="field__input" placeholder="name@mailbox.ru" required>
            </label>

            <label class="form__field field">
                <p class="field__text">Сообщение <span class="field__comment">Обязательное поле</span></p>
                <textarea name="message" rows="5" class="field__input" placeholder="Привет! Хотел задать вопрос..."></textarea>
            </label>

            <p class="form__field checkbox">
                <input name="agreement" id="feedback-agreement" type="checkbox" class="checkbox__input">
                <label for="feedback-agreement" class="checkbox__text">Даю согласие на обработку данных</label>
                <span class="checkbox__comment">в соответствии с <a href="/argeement/" class="checkbox__link">соглашением</a></span>
            </p>

            <button type="submit" class="form__button button">Отправить</button>
        </form>

        <section class="form-section__aside">
            <h2 class="visually-hidden">Контакты</h2>

            <ul class="form-section__contacts contacts">
                {% set contactsOnlyLinks = true %}
                {% include '../layouts/blocks/contacts-items.njk' %}
            </ul>
        </section>
    </div>
{% endblock %}
